In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salesperson.csv')
df.head(30)

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [3]:
import numpy as np

In [4]:
# 1. Find the mean of old scheme and new scheme column. (5 points)
np.mean(df[['Old Scheme (in thousands)', 'New Scheme (in thousands)']])

Old Scheme (in thousands)    68.033333
New Scheme (in thousands)    72.033333
dtype: float64

In [5]:
# 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)
# 3. What conclusion does the test (p-value) lead to? (2.5 points)

from scipy.stats import ttest_ind
import numpy as np
x = list(df['New Scheme (in thousands)'])
df_newscheme_mean = np.mean(x)
tset, pval = ttest_ind( df.dropna()['Old Scheme (in thousands)'], df.dropna()['New Scheme (in thousands)'])
print("p-values",pval)

if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

p-values 0.49063515686248105
we are accepting null hypothesis

In [6]:
#Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
#        a) The probability of a type 1 error? (2.5 points)
#        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)
 #       c) Power of the test (5 points)

In [7]:
#The probability of a type 1 error = alpha
0.5

0.5

In [17]:
from scipy.stats import ttest_rel
import numpy as np
x = list(df['New Scheme (in thousands)'])
df_newscheme_mean = np.mean(x)+5
tset, pval = ttest_rel( df.dropna()['New Scheme (in thousands)'], df.dropna()['Old Scheme (in thousands)'])

print("p-values",pval)


if pval < 0.05:    # alpha value is 0.05 or 5%
   print(" we are rejecting null hypothesis")
else:
  print("we are accepting null hypothesis")

p-values 0.13057553961337662
we are accepting null hypothesis

In [ ]:
from statsmodels.stats import power
print(power.tt_ind_solve_power(effect_size = 0.5, alpha =0.05, power=0.8,alternative='two-sided'))